# Common Role Handlers
---
- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes

- name: restart firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: restarted

- name: restart chronyd
  ansible.builtin.systemd:
    name: chronyd
    state: restarted
